.specialIcon{
    margin: 0 .5rem;
    font-size: small;
}
 form, div,
 .form-control {
     font-size: small;

 }
 .note-form-wrap{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .note-form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
 }
 .note-textarea{
     width: 100%;
 }
 .note-textarea textarea{
     height: 120px;
 }
 .note-text {
     width: 80%;
 }

 .note-actions {
     width: 20%;
     display: flex;
     justify-content: space-around;
 }
 .btn{
    font-size: small;
 }
 .save-btn{
    background-color: rgb(52, 161, 130);
        color: white;
        
 }
 .grow-wrap{
     display: grid;
 }
 .grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

