<nav class="mainNavBar navbar fixed-top">
    <div class="d-flex">
        <h3 class="mainTitle navbar-brand">{{mainTitle}}</h3>
        <fa-icon class="leafIcon" [icon]="leafIcon"></fa-icon>
    </div>
    <!-- <div>
        <form class="d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <a class="btn" (click)="search()"><fa-icon class="specialIcon waterIcon" [icon]="searchIcon"></fa-icon></a>
        </form>
    </div> -->
</nav>