
<div *ngIf="(errMessage$ | async)">
    <page-failed [componentMessage]="errMessage$"></page-failed>
    <button class="btn btn-secondary btn-sm" type="button" (click)="reload()">Reload</button>
</div>

<div *ngIf="(plantLoaded$ | async)" class="main-container container">
    <div>
        <div><h5>Notes</h5></div>
        <a class="btn btn-sm" (click)="addNote()">Add</a>
    </div>
    <div class="no-notes" *ngIf="(plantNotes$ | async)?.length == 0">No notes for this plant</div>
    <div class="plant-list" *ngIf="(plantNotes$ | async)">
        <ul class="list-group">
            <li *ngFor="let note of (plantNotes$ | async)" class="list-group-item">
                <plant-note  
                [noteDescription] ="note.description" 
                [noteId]="note.id"
                (saveNote)="saveNote($event)"
                (deleteNote)="deleteNote($event)"></plant-note>
            </li>
        </ul>
    </div>
</div>
