.mainNavBar {
    top: 4rem; 
    
    
    margin: 0;
}
.mainContainer{
    padding: 10rem;
}

.navbarDiv{
    width: 100%;
}

.navbarUl{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
}



.navlink{
    
    padding: 0%;
}
