.main-image{
   width: 50%;
   height: 50%;
    border-radius: 50%;
    position: absolute;
        left: 25%;
        top: -24%;
        z-index: 1;
        box-shadow: 1px -1px 1px #CCC;
}
.image-container{
    background-image: linear-gradient(to bottom, #ddf1da 50%, white 0%);
position: relative;
    left: 0%;
    top: -50px;
    z-index: 1;
}
.card-title{
    height: 20px;
}
.default-card {
    max-width: 600px;
    
    /* background: linear-gradient(to right,
                rgb(252, 192, 143) 0%,
                rgb(252, 192, 143)65%,
                #eeeeee 65%,
                #eeeeee 100%); */
    
    margin-top: 6rem;
    margin-bottom: .5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
   
}

.card-body{
    margin-top: 30%;
}
.list-group{
    font-size: small;
}
.btn{
    font-size: small;
    
}
.similar-btn{
    background-color: rgb(52, 161, 130);
        color: white;
}