<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="name" class="form-control" id="inputName" placeholder="Name">
    </div>
      <div class="form-group col-md-6">
        <label for="inputGenus">Genus</label>
        <select id="inputGenus" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
  </div>
  <div class="form-group col-md-6">
    <label for="inputDateWatered">Last Watered?</label>
    <input type="text" class="form-control" id="inputDateWatered" placeholder="">
  </div>
  <div class="form-group col-md-6">
    <label for="inputDateFertilized">Last Fertilized?</label>
    <input type="text" class="form-control" id="inputDateFertilized" placeholder="">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputWaterInterval">Water Interval</label>
      <input type="text" class="form-control" id="inputWaterInterval">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFertilizeInterval">Fertilize Interval</label>
      <select id="inputFertilizeInterval" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <!-- <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div> -->
  </div>
  <!-- <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div> -->
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
