 
 form, .form-control{
    font-size: small;
    
 }
 .form-group{
    margin: .2rem 0;
 }
 .container{
    margin-top: 1rem;
    
 }
 .form-container{
   
    padding: 1rem; 
   
    background-color: var(--main-white-color); 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    
}

.form-actions{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn{
    width: 4rem;
    padding: .5rem;
    font-size: small;
}
.save-btn {
    
    background-color:var(--main-green-color);
    color: white;
}


.selected-image{
    font-size: small;
    font-weight: bold;
    color: var(--main-green-color); 
}


.image-form-group{
    margin: 1rem 0;
   
}
.form-image{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    padding: 0;
}
.form-image > .image-button-side{
 
   /* border: 1px solid blue; */
        width: 15%;
}
.form-image > .image-side {
       /* border: 1px solid red; */
        width: 85%;
        display: flex;
    justify-content: center;
    
}
.form-image > .image-side > .main-image{
    width: 13rem;
    /* border: 1px solid red; */
}
.form-image > .image-button-side > .imageBtn{
  
        padding: .2rem;
        font-size: small;
         background-color:var(--main-green-color); 
         color: white;
       width: 2rem;
}