<div class="container">
    <div *ngIf="(errorMessage$ | async)">
        <page-failed [componentMessage]="errorMessage$"></page-failed>
    </div>
    <div class="tab-pane" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <div class="form-title">
            Create new account
        </div>
        <div class="form-group">
            <form [formGroup]="createUserForm" autocomplete="off" novalidate (submit)="loginUser(createUserForm.value)">
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="name" class="form-control" formControlName='name' />
                    <label class="form-label" for="name">Name</label>
                    <div class="col-md-5">
                        <em *ngIf="validateControl('name') && hasError('name', 'required')">Name is required</em>
                    </div> 
                </div>
                <!-- Last Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="lname" class="form-control" formControlName='lname' />
                    <label class="form-label" for="lname">Last name</label>
                    <div class="col-md-5">
                        <em *ngIf="validateControl('lname') && hasError('lname', 'required')">Last name is required</em>
                    </div> 
                </div>
                
                <!-- Username input -->
                <div class="form-outline mb-4">
                    <input type="text" id="userName" class="form-control"  formControlName='userName'/>
                    <label class="form-label" for="userName">Username</label>
                    <div class="col-md-5">
                        <em *ngIf="validateControl('userName') && hasError('userName', 'required')">Username is required</em>
                        <em *ngIf="!userNameFormat('userName')">Must be at least 9 characters, and alphanumeric. Accepts underscores.</em>
                    </div>
                </div>
                
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control" formControlName='email' />
                    <label class="form-label" for="email">Email</label>
                    <div class="col-md-5">
                        <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                        <em *ngIf="!emailFormat('email')">Incorrect email format</em>
                    </div>
                </div>
                
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" formControlName='password' />
                    <label class="form-label" for="password">Password</label>
                    <div class="col-md-5">
                        <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
                        <em *ngIf="!passwordFormat('password')">Incorrect password format</em>
                    </div>
                </div>
                
                <!-- Repeat Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="repeatPassword" class="form-control" formControlName='repeatPassword' />
                    <label class="form-label" for="repeatPassword">Repeat password</label>
                    <div class="col-md-5">
                        <em *ngIf="validateControl('repeatPassword') && hasError('repeatPassword', 'required')">Repeat Password is
                            required</em><br>
                            <em *ngIf="!passwordMatch('password', 'repeatPassword')">Passwords do not match</em>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn-create btn btn-primary btn-block mb-3" [disabled]="createUserForm.status == 'INVALID' || !passwordMatch('password', 'repeatPassword')">Create</button>
                    <button type="button" class="btn btn-secondary btn-block mb-3" (click)="cancelCreate()">Log in</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

    
   