.plant-card{
    max-width: 400px;
    padding: .5rem; 
    margin: .5rem 0;
    border-bottom: .2px solid rgb(203, 203, 203);
    
}

.plant-card-details{
    color: rgb(110, 110, 110);
}

.action-button{
    margin: 0 .5rem;
}

.card-title h6{
    margin: 0;
    font-size: small;
}
.editBtn{
    font-size: small;
}
.card-title-link {
    /* color: rgb(70, 70, 70); */
    color: var(--main-text-color);
    font-size: small;
    text-decoration: none;
}

.warningCard{
            border-bottom: .2px solid rgb(203, 203, 203);
            max-width: 400px;
            padding: .5rem;
            
            
}
.warningLink{
    color: rgb(209, 0, 0);
}
.specialIcon{
    margin-right: .5rem;
}

