/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
      height: 100%;
    padding: 0;
    margin: 0;
}
.main-body {
    width: 100%;
    /* min-height: 100vh; */
    background-color: #ddf1da;
    /* height: 100%; */
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    list-style: none;
}



