<nav class="mainNavBar navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex">
        <fa-icon class="leafIcon" [icon]="leafIcon"></fa-icon>
        <h4 class="mainTitle navbar-brand">{{mainTitle}}</h4>
    </div>
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/home'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addPlant" routerLinkActivate="active" ariaCurrentWhenActive="page">Add
                    Plant</a>
            </li>
            <li class="nav-item" *ngIf="!userAuthenticated">
                <a class="nav-link" [routerLink]="'/login'">Login</a>
            </li>
            <li class="nav-item" *ngIf="userAuthenticated">
                <a class="nav-link" (click)="logOut()">Logout</a>
            </li>
        </ul>
    </div>
    <div>
        <form class="d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <a class="btn" (click)="search()"><fa-icon
                        class="specialIcon waterIcon" [icon]="searchIcon"></fa-icon></a>
        </form>
    </div>
</nav>

